.App {
  text-align: center;
  display: grid;
  grid-template-areas:
    "header" "header" "header"
    "content" "content" "content";
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

.App-header {
  grid-area: header;
  justify-items: center;
  align-content: center;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  display: grid;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.App-link {
  color: rgb(112, 76, 182);
}

.body {
  display: grid;

  grid-area: content;
}
